.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.App-header {
  background-color: white;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black; 
  text-align: center;
}
.App-header img {
  max-width: 300vh;
  max-height: 100vh;
}
.App-content {
  display: flex;
  height: 70%; /* Chia nội dung còn lại chiếm 70% chiều cao */
}
.App-logo {
  flex: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
}

@keyframes App-logo-spin {
  0%, 100% {
    transform: rotateY(0deg); /* Ban đầu và sau khi hoàn thành vòng quay, xoay 0 độ theo trục Y */
  }
  50% {
    transform: rotateY(180deg); /* Ở giữa vòng quay, xoay 180 độ theo trục Y (xoay qua mặt sau) */
  }
}


.App-form-container {
  flex: 60%; /* Chiếm 60% chiều rộng của App-content */
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.App-link {
  color: #61dafb;
}
